<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tarot Layout</title>
    <link rel="stylesheet" href="/static/button.css">
    <link rel="stylesheet" href="/static/test.css">
</head>
<body>
    <div class="main-container main-wrapper">
        <div class="wrapper">
            <div class="container" style="background-color: rgb(255, 255, 255, 0); border: 1px;">
                {% for i in button_range %}
                <div class="card draggable" id="button-{{ i }}"></div>
                {% endfor %}
                
            </div>
            <div id="card-container" style="background-image: url('/static/tile.jpg');">
                
            </div>
        </div><br>
        <div class="search">
            <input id="search-input" placeholder="고민이 무엇인가요?" />
            
            <button class="button smoke dark" id="submit-button" style="margin-bottom: 15px;">결과 확인</button>
        </div>
        <button id="positioncheck" hidden="hidden">검사</button>
        <div id="result-container" style="display: none;">
            <h2>타로 결과</h2>
            <div id="result"></div>
        </div>
        <div class="loading-container" id="loading">
            <div class="loading"></div>
                <div id="loading-text">loading</div>
        </div>
    </div>
</body>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/transmission.js"></script>
<script src="/static/scripts.js"></script>
<script src="/static/positioncheck.js"></script>
<script src="/static/drag.js"></script>
<script src="/static/button_scripts.js"></script>
</html>
<!-- dribbble - twitter -->
<a class="dribbble" href="https://dribbble.com/shots/8764233-Button-Hover-Effects-2" target="_blank"><img src="https://cdn.dribbble.com/assets/dribbble-ball-mark-2bd45f09c2fb58dbbfb44766d5d1d07c5a12972d602ef8b32204d28fa3dda554.svg" alt=""></a>
