.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 800px;
}

#card-container {
    width: 800px; /* 원하는 너비 설정 */
    height: 600px; /* 원하는 높이 설정 */
    border: 2px solid rgba(255, 255, 255, 0.5); /* 반투명한 테두리 */
    background-color: transparent; /* 내부는 투명 */
    box-sizing: border-box; /* 테두리를 포함한 전체 크기 설정 */
    margin: 0 auto; /* 가운데 정렬 */
}

.wrapper {
    display: flex; /* 수평으로 정렬하기 위한 flexbox */
    gap: 20px; /* 요소 사이의 간격 */
    padding: 20px; /* 전체 여백 */
    align-items: flex-start; /* 상단 정렬 */
    overflow: auto; /* 내용이 넘칠 경우 스크롤 가능 */
}

.container {
    width: 200px; /* 원하는 너비 설정 */
    height: 600px; /* 카드 높이와 동일하게 설정 */
    background-color: #f0f0f0; /* 배경색을 추가하여 컨테이너의 경계를 확인할 수 있도록 설정 */
    padding: 20px; /* 내부 여백 */
    border-radius: 10px; /* 둥근 모서리 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 */
}

#result-container {
    width: 80%; /* 원하는 너비 설정 (예: 80%로 설정) */
    max-width: 600px; /* 최대 너비 설정 (예: 600px로 설정) */
    margin: 50px auto; /* 위쪽 여백 50px, 중앙 정렬 */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* 반투명한 흰색 배경 */
    border-radius: 10px; /* 둥근 모서리 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* 부드러운 그림자 */
}

.draggable {
    position: absolute;
    cursor: grab;
}



body {
     background-image: url('/static/texture.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 100vh;
    margin: 0;
    padding: 50px 0;
}
#link {color: #E45635;display:block;font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;text-align:center; text-decoration: none;}
#link:hover {color: #CCCCCC}

#link, #link:hover {-webkit-transition: color 0.5s ease-out;-moz-transition: color 0.5s ease-out;-ms-transition: color 0.5s ease-out;-o-transition: color 0.5s ease-out;transition: color 0.5s ease-out;}

/** BEGIN CSS **/
        @keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-moz-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-webkit-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-o-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-moz-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-webkit-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @-o-keyframes rotate-loading {
            0%  {transform: rotate(0deg);-ms-transform: rotate(0deg); -webkit-transform: rotate(0deg); -o-transform: rotate(0deg); -moz-transform: rotate(0deg);}
            100% {transform: rotate(360deg);-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); -o-transform: rotate(360deg); -moz-transform: rotate(360deg);}
        }

        @keyframes loading-text-opacity {
            0%  {opacity: 0}
            20% {opacity: 0}
            50% {opacity: 1}
            100%{opacity: 0}
        }

        @-moz-keyframes loading-text-opacity {
            0%  {opacity: 0}
            20% {opacity: 0}
            50% {opacity: 1}
            100%{opacity: 0}
        }

        @-webkit-keyframes loading-text-opacity {
            0%  {opacity: 0}
            20% {opacity: 0}
            50% {opacity: 1}
            100%{opacity: 0}
        }

        @-o-keyframes loading-text-opacity {
            0%  {opacity: 0}
            20% {opacity: 0}
            50% {opacity: 1}
            100%{opacity: 0}
        }
        .loading-container,
        .loading {
            height: 100px;
            position: relative;
            width: 100px;
            border-radius: 100%;
        }


        .loading-container { display: none; margin-top: 80px; margin-left: 20px; }

        .loading {
            border: 2px solid transparent;
            border-color: transparent #fff transparent #FFF;
            -moz-animation: rotate-loading 1.5s linear 0s infinite normal;
            -moz-transform-origin: 50% 50%;
            -o-animation: rotate-loading 1.5s linear 0s infinite normal;
            -o-transform-origin: 50% 50%;
            -webkit-animation: rotate-loading 1.5s linear 0s infinite normal;
            -webkit-transform-origin: 50% 50%;
            animation: rotate-loading 1.5s linear 0s infinite normal;
            transform-origin: 50% 50%;
        }

        .loading-container:hover .loading {
            border-color: transparent #E45635 transparent #E45635;
        }
        .loading-container:hover .loading,
        .loading-container .loading {
            -webkit-transition: all 0.5s ease-in-out;
            -moz-transition: all 0.5s ease-in-out;
            -ms-transition: all 0.5s ease-in-out;
            -o-transition: all 0.5s ease-in-out;
            transition: all 0.5s ease-in-out;
        }

        #loading-text {

            -moz-animation: loading-text-opacity 2s linear 0s infinite normal;
            -o-animation: loading-text-opacity 2s linear 0s infinite normal;
            -webkit-animation: loading-text-opacity 2s linear 0s infinite normal;
            animation: loading-text-opacity 2s linear 0s infinite normal;
            color: #ffffff;
            font-size: 10px;
            font-weight: bold;
            margin-top: 45px;
            opacity: 0;
            position: absolute;
            text-align: center;
            text-transform: uppercase;
            top: 0;
            width: 100px;
        }


.card:hover {
        transform: scale(1.1); /* 호버 시 크기를 1.1배로 확대 */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* 그림자 효과 추가 */
    }

.card {
    color: #ff6600;
    width: 120px;
    height: 170px;
    background-size: cover;
    background-position: center;
    background-image: url('/static/tarot.png');
    transition: transform 0.6s;
    transform-style: preserve-3d;
    margin: 10px;
    margin-left: 18px;
    /*position: relative;*/
    /*transform-style: preserve-3d;*/
    /*width: 150px;*/
    /*height: 200px;*/
    /*background-image: url('/static/tarot.png');*/
    /*background-size: cover; !* 이미지 크기를 div에 맞게 조정 *!*/
    /*background-position: center; !* 이미지의 위치를 가운데로 설정 *!*/
    /*background-repeat: no-repeat; !* 이미지 반복을 방지 *!*/
    /*transition: transform 0.3s ease; !* 변화가 부드럽게 일어나도록 설정 *!*/
}

/* 검색 */
.main-wrapper .search {
    display: flex;
    justify-content: center;
}
.main-wrapper #search-input {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: var(--medium);
    padding: 15px 0px;
    border-radius: 30px;
    border: 0px;
    width: 600px;
    text-align: center;
    margin-top: -15px;
}
.main-wrapper #search-input::placeholder {
    color: rgb(169, 169, 169);
    font-size: var(--medium);
}



/*.deck {*/
/*    width: 200px;*/
/*    height: 250px;*/
/*    background-image: url('/static/tarot_stacked.png');*/
/*    background-size: cover; !* 이미지 크기를 div에 맞게 조정 *!*/
/*    background-position: center; !* 이미지의 위치를 가운데로 설정 *!*/
/*    background-repeat: no-repeat; !* 이미지 반복을 방지 *!*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    position: absolute;*/
/*    left: -200px;*/
/*    bottom: -150px;*/
/*}*/



#result {
    margin-top: 15px;
}
